.dashboard-table td {
  padding: 1px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  height: 30px;
}

.no-m-1{
  padding: 15px;
  border-radius: 15px;
  background-color: #0c3949;
  color: #ffffff; 
  font-weight: 600; 
  display: flex;
  align-items: center; 
}

.no-m-1 Button{
  border-radius: 15px;
  background-color:#0c3949 !important;
  color: #ffffff; 
  margin-right: 10px;
  transition: background 0.3s ease; 
  filter: brightness(1.5);
}

.no-m-1 Button:hover{
  background-color: #554431; 
}


.dashboard-checklist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}



.dashboard-engineers-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #4b4b4b;
}



.no-m {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



