.header-container,
.MTO-header {
    display: flex;
    align-items: center;
    background-color: #0c3949;
    color: #ffffff;
    padding: 20px;
    font-size: 28px;
}

.header-label,
.MTO-title {
    margin-right: 20px;
    font-weight: bold;
}

.selector {
    width: 35%;
}

.MTO-table {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px; 
  width: 100%;
}

.MTO-table th,
.MTO-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #13556e;
    border-radius: 10px;
}

.MTO-table th {
  font-size: 24px;
  background-color: #0c3949;
  color: #ffffff;
  font-weight: 750;
}

.MTO-table tbody tr:nth-child(even) {
    background-color: #f2fafd;
}

.MTO-table tbody tr:nth-child(odd) {
  background-color: #ccebf6;
}


.button-secondary-b1l {
    box-sizing: border-box;
    
    background-color: #1f8eb7;
    border: 2px solid #197292;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 0.75rem;
    font-weight: 900;
    line-height: 1;
    margin: 1px;
    padding: 0.8em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background-image: linear-gradient(45deg, #197292 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out, all 400ms ease-in-out, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-secondary-b1l:hover,
.button-secondary-b1l:focus {
    color: #ffffff;
    outline: 0;
    background-position: 0;
    transform: translateY(-5px);
}

.button-secondary-b1l:active {
    transform: translateY(2px);
}

  